<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
    <title>Freecycle My Messages</title>
    <link rel="stylesheet" href="../Content/bootstrap.min.css"/>
    <script src="../Scripts/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script src="../Scripts/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
    {{topNav}}
    <ul class="nav nav-tabs">
        <li><a href="../Controller/MyProfile.php">Profile</a></li>
        <li class="active"><a href="../Controller/Messages.php">Messages</a></li>
        <li class="dropdown">
            <a class="dropdown-toggle" href="../Controller/MyAdverts.php">My Adverts<span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="../Controller/AddAdvert.php">Add Advert</a></li>
            </ul>
        </li>
    </ul>
</body>
</html>