<div class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="../Controller/Index.php">
                <img alt="Freecycle" src="../Image/freecycle_logo.jpg" />
            </a>
        </div>
        <form class="form-inline" action="../Controller/Login.php" method="post">
            <div class="text-right">
                <label for="topNavUsernameInput">Username</label>
                <input type="text" class="form-control" placeholder="Username" id="topNavUsernameInput" name="topNavUsernameInput" required="required" />
                <label for="topNavPasswordInput">Password</label>
                <input type="password" class="form-control" placeholder="Password" id="topNavPasswordInput" name="topNavPasswordInput" required="required" />
                <button type="submit" class="form-control" value="post">Login</button>
                <a href="../Controller/Register.php">Register for an account</a>
            </div>
        </form>
    </div>
</div>