<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-gb">
<head>
    <title>Freecycle Search</title>
    <link rel="stylesheet" href="../Content/bootstrap.min.css" />
</head>
<body>
    {{topNav}}
    <div>
        <a href="#" onclick="window.history.back()">Back to search</a>
    </div>
    <div class="container">
        <h1>{{advertTitle}}</h1>
        <p>{{advertDescription}}</p>
    </div>
    <div class="container">
        {{advertImages}}
    </div>
    <div class="container">
        <a href="#">Contact seller</a>
    </div>
</body>
</html>